.vscode

program
program.asm
program.c

OpenTimer

**/.zig-cache/
**/zig-out/
**/release/
**/debug/
**/build/
**/build-*/

# some temp files that might accidentally get leaved in, don't remove even if they don't exist
*.vcd
out